.cajaRelativa {
  position: relative;
  width: 500px;
  height: 200px;
  border: 5px solid blue;
}
.cajaAbsoluta {
  position: absolute;
  width: 500px;
  height: 200px;
  border: 5px solid black;
}
#caja2 {
  left: 100px;
  overflow: scroll;
  z-index: 20px;
}
#caja1 {
  left: 500px;
  overflow: scroll;
}

.cajaFija {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 10px;
  border: 5px solid black;
}
#Fija2 {
  top: 100px;
  height: 50px;
  width: 50px;
}
#Fija1 {
  left: 50px;
  overflow: scroll;
}
