table {
  border-collapse: collapse;
}
thead {
  font-family: "Centhury Gothic";
  font-size: 25px;
  font-weight: bold;
}
td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: greenyellow;
}
tbody th {
  border: 1px solid;
  color: black;
  background-color: rgb(1, 253, 1);
}
