* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 120px) {
  div.sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  /*.sidebar a (float: left;) a {
    display: block;
    text-decoration: none;
    padding: 5px;
  }*/

  a:hover {
    background-color: blue;
    color: white;
  }
  input {
    display: none;
  }
  input :checked .sidebar {
    width: 0px;
  }
  input :checked .content {
    margin-left: 0px;
  }
}
